syntax: glob

## patterns
*.orig
*.tgz
*.swp
*.swo
*~
*.DS_Store*
*.vagrant*
*.pem
*.pub
*.log
*.pyc
*.#*
*#
*.egg-info
*flymd*

## paths
dist
env.sh
digitalocean.env.sh
aws.env.sh
docs/_build
srv/salt/ssh_keys
rambo/saltstack
.tmp
**/auth/keys
**/licenses
