recursive-include rambo/auth/env_scripts *
recursive-include rambo/saltstack *
recursive-include rambo/vagrant *
recursive-include docs *
include rambo/Vagrantfile
include rambo/settings.json
include LICENSE
include README.md
include CHANGELOG.md
global-exclude *.py[cdo] __pycache__ *.so *.pyd .DS_Store