/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
  background: #2F9A41;
}
/* links */
.wy-nav-content a {
  color: #2F9A41;
}
.wy-nav-content a:visited {
  color: #2980B9;
}

.rst-content blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}
